# ---- Python bytecode ----
__pycache__/
*.py[cod]

# ---- Virtual envs ----
.venv/
venv/
env/

# ---- OS / editor ----
.DS_Store
Thumbs.db

# ---- Project working folders (generated, not versioned) ----
inputs/
outputs/
cleaned_alpha/
forced_bg/
previews/
anim_json
settings.json

# ---- Logs / temp ----
*.log
